@import url("./styles/profile-card.css");
@import url("./styles/app.css");
@import url("./styles/members.css");
@import url("./styles/update-members.css");
@import url("./styles/search.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --white: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--pale-blue)
    url("./assets/img/pattern-background-desktop.svg") no-repeat center top/100%
    fixed;
}

a {
  text-decoration: none;
}
